<a href="https://colab.research.google.com/github/chitwan6804/Data_mining/blob/main/Basics_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  ***Lists***

In [10]:
list1=[1,2,"Rohan",69.26]
#accessing elements of list
print("Acessing elemts of list:")
print(list1[0])
print(list1[2:-1])
print(list1[1:-1])
print(list1[1:])

# Updating values in the list
print("\nUpdating values in the list:")
list1[0]=10
print(list1)

#Deleting List Elements
print("\nDeleting List Elements:")
del list1[0]
print(list1)

#Concatenation of 2 lists
print("\nConcatenation of 2 lists:")
list2=[1,2,3,4]
list3=list1+list2
print(list3)

#Repetition in list
print("\nReptition in list")
list3=['Hi!']*4
print(list3)

#pop the last element:
print("\nPop the last element:")
print(list3.pop(2))
print(list3)

#Appending the list
print("\nAppending the list:")
list1 = ["Rohan", "Physics", 21, 69.75]
list1.insert(2, 'Chemistry')
list1.insert(-1, 'Pass')
print ("List after appending: ", list1)

#Extend the list
print("\nExtending the list:")
list1 = [1, 2, 3]
another_list = [4, 5, 6]
list1.extend(another_list)
print("Extended list:", list1)

Acessing elemts of list:
1
['Rohan']
[2, 'Rohan']
[2, 'Rohan', 69.26]

Updating values in the list:
[10, 2, 'Rohan', 69.26]

Deleting List Elements:
[2, 'Rohan', 69.26]

Concatenation of 2 lists:
[2, 'Rohan', 69.26, 1, 2, 3, 4]

Reptition in list
['Hi!', 'Hi!', 'Hi!', 'Hi!']

Pop the last element:
Hi!
['Hi!', 'Hi!', 'Hi!']

Appending the list:
List after appending:  ['Rohan', 'Physics', 'Chemistry', 21, 'Pass', 69.75]

Extending the list:
Extended list: [1, 2, 3, 4, 5, 6]

In [11]:
#For loop
print("\nFor loop")
lst = [25, 12, 10, -21, 10, 100]
for num in lst:
   print (num, end = ' ')

#While loop
print("\nWhile loop")
index=0
while index<len(lst):
  print(lst[index])
  index+=1

#Loop Through List Items with Index
print("\nLoop Through List Items with Index")
index=range(len(lst))
for i in index:
  print("lst[{}]:".format(i),lst[i])

#Iterate using List Comprehension
print("\nIterate using List Comprehension")
numbers=[1,2,3,4,5]
sq_num=[num**2 for num in numbers]
print(sq_num)

#Iterate using the enumerate() Function
print("\nIterate using the enumerate() Function")
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
   print(index,":", fruit)

#Nested Loops
print("\nNested Loops")
list1=[1,2,3]
list2=[4,5,6]
CombLst=[(x,y) for x in list1 for y in list2]
print (CombLst)

For loop
25 12 10 -21 10 100
While loop
25
12
10
-21
10
100

Loop Through List Items with Index
lst[0]: 25
lst[1]: 12
lst[2]: 10
lst[3]: -21
lst[4]: 10
lst[5]: 100

Iterate using List Comprehension
[1, 4, 9, 16, 25]

Iterate using the enumerate() Function
0 : apple
1 : banana
2 : cherry

Nested Loops
[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [12]:
#Use of lambda
print("\nUse of lambda")
original_list = [1, 2, 3, 4, 5]
doubled_list = [(lambda x: x * 2)(x) for x in original_list]
print(doubled_list)

#Sort Lists
print("\nSort Lists")
list1 = ['physics', 'Biology', 'chemistry', 'maths']
print ("list before sort:", list1)
list1.sort()
print ("list after sort : ", list1)

Use of lambda
[2, 4, 6, 8, 10]

Sort Lists
list before sort: ['physics', 'Biology', 'chemistry', 'maths']
list after sort :  ['Biology', 'chemistry', 'maths', 'physics']

# ***Tuples***

In [14]:
# Tuple creation and access
print("Tuple creation and access:")
tuple1 = (1, 2, "Rohan", 69.26)
print(tuple1)
print(tuple1[0])
print(tuple1[1:3])

# Concatenation and repetition
print("\nTuple concatenation and repetition:")
tuple2 = (4, 5, 6)
print(tuple1 + tuple2)
print(tuple2 * 2)

# Nested Tuples
print("\nNested Tuples:")
tuple3 = (tuple1, tuple2)
print(tuple3)

# Tuple Unpacking
print("\nTuple Unpacking:")
a, b, c, d = tuple1
print(a, b, c, d)
tup1 = (10,20,30, 40, 50, 60)
x, *y, z = tup1
print ("x: ",x, "y: ", y, "z: ", z)

#Updating the tuple:
print("\nUpdating the tuple")
T1=(10,20,30,40)
list_T1=list(T1)
updated_list=[item+100 for item in list_T1]
updated_tuple=tuple(updated_list)
print(updated_tuple)

Tuple creation and access:
(1, 2, 'Rohan', 69.26)
1
(2, 'Rohan')

Tuple concatenation and repetition:
(1, 2, 'Rohan', 69.26, 4, 5, 6)
(4, 5, 6, 4, 5, 6)

Nested Tuples:
((1, 2, 'Rohan', 69.26), (4, 5, 6))

Tuple Unpacking:
1 2 Rohan 69.26
x:  10 y:  [20, 30, 40, 50] z:  60

Updating the tuple
(110, 120, 130, 140)

In [17]:
# Iterating through tuples
print("\nIterating through tuples:")
for item in tuple1:
    print(item, end=' ')

# While loop
print("\n\nWhile loop with tuple")
index = 0
while index < len(tuple1):
    print(tuple1[index])
    index += 1

# Using enumerate with tuples
print("\nEnumerate with tuples:")
for index, value in enumerate(tuple1):
    print(f"Index {index}: {value}")

Iterating through tuples:
1 2 Rohan 69.26

While loop with tuple
1
2
Rohan
69.26

Enumerate with tuples:
Index 0: 1
Index 1: 2
Index 2: Rohan
Index 3: 69.26

In [19]:
# Lambda function with tuple
print("\nLambda function with tuples:")
num_tuple = (1, 2, 3, 4, 5)
squared_tuple = tuple(map(lambda x: x**2, num_tuple))
print(squared_tuple)

Lambda function with tuples:
(1, 4, 9, 16, 25)

In [18]:
# Sorting a tuple (converted to list temporarily)
print("\nSorting a tuple:")
tuple4 = ("apple", "banana", "cherry")
sorted_tuple = tuple(sorted(tuple4))
print(sorted_tuple)

Sorting a tuple:
('apple', 'banana', 'cherry')

In [16]:
#Joining the tuples6
T1 = (10,20,30,40)
T2 = ('one', 'two', 'three', 'four')
T3 = sum((T1, T2), ())
print ("Joined Tuple:", T3)

Joined Tuple: (10, 20, 30, 40, 'one', 'two', 'three', 'four')

In [ ]:
tup1 = (10, 20/80, 0.25, 10/40, 30, 10, 55)
print ("Tup1:", tup1)
c = tup1.count(0.25)
print ("count of 0.25:", c)

Tup1: (10, 0.25, 0.25, 0.25, 30, 10, 55)
count of 0.25: 3

# ***Sets***

In [20]:
# Set creation and access
print("Set creation and access:")
set1 = {1, 2, "Rohan", 69.26}
print(set1)

# Adding elements to a set
print("\nAdding elements to a set:")
set1.add(100)
print(set1)

# Removing elements from a set
print("\nRemoving elements from a set:")
set1.remove(2)
print(set1)

# Union and Intersection of sets
print("\nUnion and Intersection of sets:")
set2 = {4, 5, 6, "Rohan"}
print("Union:", set1 | set2)
print("Intersection:", set1 & set2)

# Set Difference
print("\nSet Difference:")
print("Difference:", set1 - set2)

# Checking membership
print("\nChecking membership:")
print(69.26 in set1)
print(10 in set1)

Set creation and access:
{1, 2, 69.26, 'Rohan'}

Adding elements to a set:
{1, 2, 100, 69.26, 'Rohan'}

Removing elements from a set:
{1, 100, 69.26, 'Rohan'}

Union and Intersection of sets:
Union: {1, 100, 69.26, 4, 5, 6, 'Rohan'}
Intersection: {'Rohan'}

Set Difference:
Difference: {1, 100, 69.26}

Checking membership:
True
False

In [21]:
# Iterating through a set using for loop
print("\nIterating through a set using for loop:")
for item in set1:
    print(item)

# Iterating through a set using while loop
print("\nIterating through a set using while loop:")
set_list = list(set1)
index = 0
while index < len(set_list):
    print(set_list[index])
    index += 1

# Loop Through Set with Index
print("\nLoop Through Set with Index:")
for index, value in enumerate(set1):
    print(f"Index {index}: {value}")

# Nested Loops with Sets
print("\nNested Loops with Sets:")
set3 = {7, 8, 9}
for x in set1:
    for y in set3:
        print(f"({x}, {y})")

# Set Comprehension
print("\nSet Comprehension:")
squared_set = {x**2 for x in range(1, 6)}
print(squared_set)

Iterating through a set using for loop:
1
100
69.26
Rohan

Iterating through a set using while loop:
1
100
69.26
Rohan

Loop Through Set with Index:
Index 0: 1
Index 1: 100
Index 2: 69.26
Index 3: Rohan

Nested Loops with Sets:
(1, 8)
(1, 9)
(1, 7)
(100, 8)
(100, 9)
(100, 7)
(69.26, 8)
(69.26, 9)
(69.26, 7)
(Rohan, 8)
(Rohan, 9)
(Rohan, 7)

Set Comprehension:
{1, 4, 9, 16, 25}

In [ ]:
import itertools

set1={1,2,3,4}

is_subset={1,2}.issubset(set1)
print(is_subset)

True

In [ ]:
subsets_with_2_elements=[set(subset) for subset in itertools.combinations(set1,2)]
print(subsets_with_2_elements)

[{1, 2}, {1, 3}, {1, 4}, {2, 3}, {2, 4}, {3, 4}]

#***Dictionaries***

In [ ]:
# Modifying an existing key-value pair
student_info["age"] = 22

# Adding a new key-value pair
student_info["graduation_year"] = 2023
print("The modified dictionary is:",student_info)

The modified dictionary is: {'name': 'Rahul', 'age': 22, 'subject': 'Data Mining', 'graduation_year': 2023}

In [22]:
# Dictionary creation and access
print("Dictionary creation and access:")
dict1 = {"name": "Rohan", "age": 21, "subject": "Physics"}
print(dict1)
print("Name:", dict1["name"])
print("Age:", dict1.get("age"))

# Adding and updating elements
print("\nAdding and updating elements:")
dict1["city"] = "New York"
dict1["age"] = 22
print(dict1)

# Removing elements
print("\nRemoving elements:")
del dict1["subject"]
print(dict1)

# Dictionary methods: keys, values, items
print("\nDictionary Methods:")
print("Keys:", dict1.keys())
print("Values:", dict1.values())
print("Items:", dict1.items())

# Checking membership
print("\nChecking membership:")
print("name" in dict1)
print("subject" in dict1)

Dictionary creation and access:
{'name': 'Rohan', 'age': 21, 'subject': 'Physics'}
Name: Rohan
Age: 21

Adding and updating elements:
{'name': 'Rohan', 'age': 22, 'subject': 'Physics', 'city': 'New York'}

Removing elements:
{'name': 'Rohan', 'age': 22, 'city': 'New York'}

Dictionary Methods:
Keys: dict_keys(['name', 'age', 'city'])
Values: dict_values(['Rohan', 22, 'New York'])
Items: dict_items([('name', 'Rohan'), ('age', 22), ('city', 'New York')])

Checking membership:
True
False

In [23]:
# Iterating through a dictionary using for loop
print("\nIterating through a dictionary using for loop:")
for key in dict1:
    print(f"{key}: {dict1[key]}")

# Iterating through keys and values
print("\nIterating through keys and values:")
for key, value in dict1.items():
    print(f"{key} -> {value}")

# Iterating through dictionary using while loop
print("\nIterating through dictionary using while loop:")
dict_items = list(dict1.items())
index = 0
while index < len(dict_items):
    print(dict_items[index])
    index += 1

# Loop Through Dictionary with Index
print("\nLoop Through Dictionary with Index:")
for index, (key, value) in enumerate(dict1.items()):
    print(f"Index {index}: {key} -> {value}")

# Nested Dictionary
print("\nNested Dictionary:")
nested_dict = {
    "student1": {"name": "Alice", "age": 20},
    "student2": {"name": "Bob", "age": 22}
}
print(nested_dict)

# Dictionary Comprehension
print("\nDictionary Comprehension:")
squared_dict = {x: x**2 for x in range(1, 6)}
print(squared_dict)

Iterating through a dictionary using for loop:
name: Rohan
age: 22
city: New York

Iterating through keys and values:
name -> Rohan
age -> 22
city -> New York

Iterating through dictionary using while loop:
('name', 'Rohan')
('age', 22)
('city', 'New York')

Loop Through Dictionary with Index:
Index 0: name -> Rohan
Index 1: age -> 22
Index 2: city -> New York

Nested Dictionary:
{'student1': {'name': 'Alice', 'age': 20}, 'student2': {'name': 'Bob', 'age': 22}}

Dictionary Comprehension:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

##**Program 1**:
Write python code to accept words from the user until a blank line is entered. The output should display the words exactly once, in the order in which they were entered.

##**Example Input:**
red

black

red

orange

black

##**Output:**
red

black

orange

In [ ]:
words = set()
unique_words = []

while True:
    word = input("Input: ").strip()  # Remove leading/trailing spaces
    if word=="":  # Stop on blank line
        break
    if word not in words:
        words.add(word)
        unique_words.append(word)

print("Unique words are:")
for word in unique_words:
    print(word)

Input: red
Input: orange
Input: red
Input: black
Input:
Unique words are:
red
orange
black

#**Program 2:**
Write a program to create a dictionary from two lists. The list values are to be inputted by the user.
##**Example**:
List
1: [red, orange, black]

List
2: [200, 300, 100]
##**Output:**
{'red': '200', 'orange': '300', 'black': '100'}

In [ ]:
list1=input("Enter list1: ").split(" ")
list2=input("Enter list2: ").split(" ")
dict1=dict(zip(list1,list2))
print(dict1)

Enter list1: red orange black
Enter list2: 200 300 100
{'red': '200', 'orange': '300', 'black': '100'}

In [ ]:
list1 = input("Enter first list elements (keys) separated by spaces: ").split()

list2 = input("Enter second list elements (values) separated by spaces: ").split()

if len(list1) != len(list2):
    print("Error: Both lists must have the same number of elements.")
else:
    dictionary = dict(zip(list1, list2))

    sort_by = input("Sort by 'key' or 'value'?: ").strip().lower()
    order = input("Sort in 'asc' (ascending) or 'desc' (descending) order?: ").strip().lower()

    reverse_order = True if order == "desc" else False

    if sort_by == "key":
        sorted_dict = dict(sorted(dictionary.items(), key=lambda x: x[0], reverse=reverse_order))
    elif sort_by == "value":
        sorted_dict = dict(sorted(dictionary.items(), key=lambda x: x[1], reverse=reverse_order))
    else:
        print("Invalid sort option. Sorting by default (keys in ascending order).")
        sorted_dict = dict(sorted(dictionary.items(), key=lambda x: x[0]))

    print("Sorted Dictionary:", sorted_dict)

Enter first list elements (keys) separated by spaces: red orange black
Enter second list elements (values) separated by spaces: 200 300 100
Sort by 'key' or 'value'?: key
Sort in 'asc' (ascending) or 'desc' (descending) order?: asc
Sorted Dictionary: {'black': '100', 'orange': '300', 'red': '200'}