<a href="https://colab.research.google.com/github/chitwan6804/Data_mining/blob/main/Basics_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  ***Lists***

In [ ]:
list1=[1,2,"Rohan",69.26]

In [ ]:
list1[0]

1

In [ ]:
list1[2:-1]

['Rohan']

In [ ]:
list1[1:-1]

[2, 'Rohan']

In [ ]:
list1[1:]

[2, 'Rohan', 69.26]

In [ ]:
list1[1]=9
list1

[1, 9, 'Rohan', 69.26]

In [ ]:
del list1[1]

In [ ]:
list1

[1, 'Rohan', 69.26]

In [ ]:
list1=[1,2,3,4]
list2=[1,2,3,4]
list3=list1+list2

In [ ]:
list3

[1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
list3=['Hi!']*4
list3

['Hi!', 'Hi!', 'Hi!', 'Hi!']

In [ ]:
list3.append('Hiiiiiiiii!')
list3

['Hi!', 'Hi!', 'Hi!', 'Hi!', 'Hiiiiiiiii!']

In [ ]:
list3.pop(2)

'Hi!'

In [ ]:
list3

['Hi!', 'Hi!', 'Hi!', 'Hiiiiiiiii!']

In [ ]:
list1 = ["Rohan", "Physics", 21, 69.75]

list1.insert(2, 'Chemistry')
print ("List after appending: ", list1)

list1.insert(-1, 'Pass')
print ("List after appending: ", list1)

List after appending:  ['Rohan', 'Physics', 'Chemistry', 21, 69.75]
List after appending:  ['Rohan', 'Physics', 'Chemistry', 21, 'Pass', 69.75]

In [ ]:
# Original list
list1 = [1, 2, 3]
# Another list to extend with
another_list = [4, 5, 6]

list1.extend(another_list)
print("Extended list:", list1)

Extended list: [1, 2, 3, 4, 5, 6]

In [ ]:
list1 = ["Rohan", "Physics", 21, 69.75]
list1.remove("Physics")
print ("List after removing: ", list1)

List after removing:  ['Rohan', 21, 69.75]

In [ ]:
list1.clear()

In [ ]:
list1

[]

In [ ]:
lst = [25, 12, 10, -21, 10, 100]
for num in lst:
   print (num, end = ' ')

25 12 10 -21 10 100

In [ ]:
index=0
while index<len(lst):
  print(lst[index])
  index+=1

25
12
10
-21
10
100

In [ ]:
lst = [25, 12, 10, -21, 10, 100]
for num in lst:
   print (num, end = ' ')

25 12 10 -21 10 100

In [ ]:
index=range(len(lst))
for i in index:
  print("lst[{}]:".format(i),lst[i])

lst[0]: 25
lst[1]: 12
lst[2]: 10
lst[3]: -21
lst[4]: 10
lst[5]: 100

In [ ]:
numbers=[1,2,3,4,5]
sq_num=[num**2 for num in numbers]
print(sq_num)

[1, 4, 9, 16, 25]

In [2]:
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
   print(index,":", fruit)

0 : apple
1 : banana
2 : cherry

In [5]:
string = "hello world"
char_list=[char.upper() for char in string if char.isalpha()]
print(char_list)

['H', 'E', 'L', 'L', 'O', 'W', 'O', 'R', 'L', 'D']

In [6]:
list1=[1,2,3,4]
double_list=[(lambda x: x*2)(x) for x in list1]
print(double_list)

[2, 4, 6, 8]

In [7]:
list1=[1,2,3,4]
list2=[1,2,3,4]
comblist=[(x,y) for x in list1 for y in list2]

In [8]:
print(comblist)

[(1, 1), (1, 2), (1, 3), (1, 4), (2, 1), (2, 2), (2, 3), (2, 4), (3, 1), (3, 2), (3, 3), (3, 4), (4, 1), (4, 2), (4, 3), (4, 4)]

In [14]:
queslist=[{x:y} for x in list1 for y in list2]

In [15]:
queslist

[{1: 1},
 {1: 2},
 {1: 3},
 {1: 4},
 {2: 1},
 {2: 2},
 {2: 3},
 {2: 4},
 {3: 1},
 {3: 2},
 {3: 3},
 {3: 4},
 {4: 1},
 {4: 2},
 {4: 3},
 {4: 4}]

In [16]:
evenlist=[x for x in range(1,21) if x%2==0]
evenlist

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [19]:
chars=[]
for ch in 'TutorialsPoint':
  if ch not in 'aeiou':
    chars.append(ch)
print(chars)

['T', 't', 'r', 'l', 's', 'P', 'n', 't']

In [21]:
list1=['physics','Biology','biology','chemistry','maths']
print(list1)
list1.sort()
print(list1)

['physics', 'Biology', 'biology', 'chemistry', 'maths']
['Biology', 'biology', 'chemistry', 'maths', 'physics']

In [23]:
list1=[21,2,3,4,10,0,13]
print(list1)
list1.sort()
print(list1)

[21, 2, 3, 4, 10, 0, 13]
[0, 2, 3, 4, 10, 13, 21]

In [25]:
list1=[21,2,3,4,10,0,13]
print(list1)
list1=sorted(list1,reverse=True)
print(list1)

[21, 2, 3, 4, 10, 0, 13]
[21, 13, 10, 4, 3, 2, 0]

In [27]:
L1 = [1, 9, 1, 6, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 2]
L2 = []
for x in L1:
  if x not in L2:
    L2.append(x)
print(L2)

[1, 9, 6, 3, 4, 5, 2, 7, 8]

# ***Tuples***

In [28]:
tup1=('Rohan',"Physics",1,4.5)

In [29]:
tup1

('Rohan', 'Physics', 1, 4.5)

In [30]:
tup1=(1)

In [31]:
tup1

1

In [32]:
tup1=(1,)
tup1

(1,)

In [33]:
tup1=('physics','chemsitry',2,4,6.5)

In [34]:
tup1[0]

'physics'

In [35]:
tup1[2:5]

(2, 4, 6.5)

In [36]:
# tup1[0]=100 not possible in modify value like this

TypeError: 'tuple' object does not support item assignment

In [37]:
tup2=(1,2,3,4,5)

tup3=tup1+tup2
tup3

('physics', 'chemsitry', 2, 4, 6.5, 1, 2, 3, 4, 5)

In [38]:
del tup1

In [41]:
tup1

NameError: name 'tup1' is not defined

In [39]:
tup2

(1, 2, 3, 4, 5)

In [42]:
T1=(10,20,30,40)
list_T1=list(T1)

updated_list=[item+100 for item in list_T1]

updated_tuple=tuple(updated_list)

print(updated_tuple)

(110, 120, 130, 140)

In [44]:
tup=(1,2,3)
x,y,z=tup
print("x : ",x,"y : ",y,"z : ",z)

x :  1 y :  2 z :  3

In [45]:
x,*y=tup
print("x : ",x,"y : ",y)

x :  1 y :  [2, 3]

In [47]:
tup1 = (10,20,30, 40, 50, 60)
x, *y, z = tup1
print ("x: ",x, "y: ", y, "z: ", z)

x:  10 y:  [20, 30, 40, 50] z:  60

In [48]:
tup = (25, 12, 10, -21, 10, 100)
for num in tup:
   print (num, end = ' ')

25 12 10 -21 10 100

In [54]:
T1 = (10,20,30,40)
T2 = ('one', 'two', 'three', 'four')
T3 = sum((T1, T2), ())
print ("Joined Tuple:", T3)

Joined Tuple: (10, 20, 30, 40, 'one', 'two', 'three', 'four')

In [52]:
tup1 = (10, 20/80, 0.25, 10/40, 30, 10, 55)
print ("Tup1:", tup1)
c = tup1.count(0.25)
print ("count of 0.25:", c)

Tup1: (10, 0.25, 0.25, 0.25, 30, 10, 55)
count of 0.25: 3

# ***Sets***

In [56]:
myset={1,2,3,4}
access_item=[item for item in myset]
print(access_item)

[1, 2, 3, 4]

In [57]:
import itertools

set1={1,2,3,4}

is_subset={1,2}.issubset(set1)
print(is_subset)

True

In [58]:
subsets_with_2_elements=[set(subset) for subset in itertools.combinations(set1,2)]
print(subsets_with_2_elements)

[{1, 2}, {1, 3}, {1, 4}, {2, 3}, {2, 4}, {3, 4}]

In [59]:
langs={"C","C++","Java","Python"}

if "Java" in langs:
  print("Java is present.")
else:
  print("Java is not present.")

if "SQL" not in langs:
  print("SQL not in the set.")
else:
  print("Present.")

Java is present.
SQL not in the set.

In [60]:
language=set()

language.add("C")
language.add("C++")
language.add("Java")
language.add("Python")

print(language)

{'C++', 'Python', 'C', 'Java'}

In [61]:
my_set={1,2,3}

my_set.update([4,5,6])

print(my_set)

{1, 2, 3, 4, 5, 6}

In [62]:
set1=set("Hello")
set1.update("World")
print(set1)

{'r', 'o', 'H', 'e', 'l', 'W', 'd'}

In [63]:
lang1 = {"C", "C++", "Java", "Python"}
lang2 = ["PHP", "C#", "Perl"]
lang3 = lang1.union(lang2)
print (lang3)

{'C', 'C#', 'PHP', 'Python', 'Perl', 'C++', 'Java'}

#***Dictionaries***

In [70]:
sports_player = {
   "Name": "Sachin Tendulkar",
   "Age": 48,
   "Sport": "Cricket"
}
print(sports_player)

{'Name': 'Sachin Tendulkar', 'Age': 48, 'Sport': 'Cricket'}

In [71]:
student_info=dict(name="Rahul",age=21,subject="Data Mining")
print(student_info)

{'name': 'Rahul', 'age': 21, 'subject': 'Data Mining'}

In [73]:
name=student_info["name"]
print(name)

Rahul

In [74]:
name=student_info["age"]
print(name)

21

In [75]:
# Modifying an existing key-value pair
student_info["age"] = 22

# Adding a new key-value pair
student_info["graduation_year"] = 2023
print("The modified dictionary is:",student_info)

The modified dictionary is: {'name': 'Rahul', 'age': 22, 'subject': 'Data Mining', 'graduation_year': 2023}

##**Program 1**:
Write python code to accept words from the user until a blank line is entered. The output should display the words exactly once, in the order in which they were entered.

##**Example Input:**
red

black

red

orange

black

##**Output:**
red

black

orange

In [67]:
words = set()
unique_words = []

while True:
    word = input("Input: ").strip()  # Remove leading/trailing spaces
    if word=="":  # Stop on blank line
        break
    if word not in words:
        words.add(word)
        unique_words.append(word)

print("Unique words are:")
for word in unique_words:
    print(word)

Input: red
Input: orange
Input: red
Input: black
Input:
Unique words are:
red
orange
black

#**Program 2:**
Write a program to create a dictionary from two lists. The list values are to be inputted by the user.
##**Example**:
List
1: [red, orange, black]

List
2: [200, 300, 100]
##**Output:**
{'red': '200', 'orange': '300', 'black': '100'}

In [69]:
list1=input("Enter list1: ").split(" ")
list2=input("Enter list2: ").split(" ")
dict1=dict(zip(list1,list2))
print(dict1)

Enter list1: red orange black
Enter list2: 200 300 100
{'red': '200', 'orange': '300', 'black': '100'}