<a href="https://colab.research.google.com/github/chitwan6804/Data_mining/blob/main/Basics%20of%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Using Python as calculator**

In [ ]:
2+2

4

In [ ]:
(50-5*6)/4   # by default float valueis generated.

5.0

In [ ]:
(50-5*6) # here as divide is not there int value.

20

In [ ]:
x=7/3   #float value.
type(x)

float

In [ ]:
x=2+3
type(x)

int

In [ ]:
x=2*3
type(x)

int

In [ ]:
int(7/3)

2

In [ ]:
from math import sqrt,log

In [ ]:
sqrt(144)

12.0

In [ ]:
PI=22/7
rad=10
area=PI*rad*rad

In [ ]:
round(area,2) #rounding of significant decimanl points to 2

314.29

In [ ]:
# return = 0 # trying to use keywords/reserved words as variables

SyntaxError: invalid syntax (<ipython-input-23-61c0c528b01c>, line 1)

## ***Variables:***

In [ ]:
counter=1  #int
miles=10.2 #float
text="hello" #string
print("type of counter:: ",type(counter))
print("type of miles:: ",type(miles))
print("type of text:: ",type(text))
#type inference it automatically tries to understand which type of data is being provided we need not describe it.

type of counter::  <class 'int'>
type of miles::  <class 'float'>
type of text::  <class 'str'>

In [ ]:
counter = 100
print(counter)

del counter
#print(counter)
# shows error as we try to use data which is now not present in memory.

100

In [ ]:
x=str(10)
y=int(10)
z=float(10)

print("x = ",x, " as data type: ",type(x))
print("y = ",y)
print("z = ",z)

x =  10  as data type:  <class 'str'>
y =  10
z =  10.0

In [ ]:
age=10
Age=20
# python is case sensitive
print(age)
print(Age)

10
20

In [ ]:
a,b,c=10,"hello",10.0

print(a)
print(b)
print(c)

10
hello
10.0

In [ ]:
#Python's identity operator is returns True if both the operands have same id() value.

a=10
b=10
a is b

True

In [ ]:
id(a),id(b) # same memory location

(10751144, 10751144)

# **Data Types**

## ***Numeric Data Types***

In [ ]:
var=1
var2=True #case sensitive as true was not working.
var3=10.0003
var4=10+3j
var5="hello"

In [ ]:
print(type(var))
print(type(var2))
print(type(var3))
print(type(var4))
print(type(var5))

<class 'int'>
<class 'bool'>
<class 'float'>
<class 'complex'>
<class 'str'>

## ***String Data type***

In [ ]:
'hello,world'

'hello,world'

In [ ]:
x='hello world'
print(x)

hello world

In [ ]:
'She said,"hello"'

'She said,"hello"'

In [ ]:
x='She said,"hello"'
print(x)

She said,"hello"

In [ ]:
"hello"+"world" #concatenates strings

'helloworld'

In [ ]:
print("hello"+" world.")

hello world.

In [ ]:
str= "hello,world"

print(str)
print(str[0]) #first char of the string
print(str[2:5]) #char from 3rd to 5th characters of the string
print(str[2:]) # from 3rd to the end
print(str[2:-1]) # -1 finds automatically the last char of the string used when we dont know index of last char(last - 1)
print(str*2) #prints string twice

hello,world
h
llo
llo,world
llo,worl
hello,worldhello,world

## ***Python Sequence Data Types***
1. List Data type
2. Tuple Data type
3. Range Data Type

In [ ]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print (list)            # Prints complete list
print (list[0])         # Prints first element of the list
print (list[1:3])       # Prints elements starting from 2nd till 3rd
print (list[2:])        # Prints elements starting from 3rd element
print (tinylist * 2)    # Prints list two times
print (list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [ ]:
2025,'chitwan','data minimg',5032005 #forms tuple by default

(2025, 'chitwan', 'data minimg', 5032005)

In [ ]:
[2025,'chitwan','data minimg',5032005] #forms list

[2025, 'chitwan', 'data minimg', 5032005]

In [ ]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print (tuple)               # Prints the complete tuple
print (tuple[0])            # Prints first element of the tuple
print (tuple[1:3])          # Prints elements of the tuple starting from 2nd till 3rd
print (tuple[2:])           # Prints elements of the tuple starting from 3rd element
print (tinytuple * 2)       # Prints the contents of the tuple twice
print (tuple + tinytuple)   # Prints concatenated tuples

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [ ]:
#The main differences between lists and tuples are: Lists are enclosed in brackets ( [ ] )
#and their elements and size can be changed i.e. lists are mutable, while tuples are enclosed
#in parentheses ( ( ) ) and cannot be updated (immutable). Tuples can be thought of as read-only lists.

In [ ]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
list = [ 'abcd', 786 , 2.23, 'john', 70.2  ]
#tuple[2] = 1000    # Invalid syntax with tuple
list[2] = 1000     # Valid syntax with list

In [ ]:
print(range(10))

range(0, 10)

In [ ]:
range(2,8)

range(2, 8)

In [ ]:
evens=range(0,20,2)

In [ ]:
evens

range(0, 20, 2)

In [ ]:
evens[3]

6

In [ ]:
len(evens)

10

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(2,8,2):
  print(i)

2
4
6

## ***Python Binary Data types***
1. bytes
2. bytearray
3. memoryview

In [ ]:
b1=bytes([65,66,67,68,69])
print(b1)

b'ABCDE'

In [ ]:
b2=b'Hello' # we are using the "b" prefix before a string to automatically create a bytes object −
print(b2)
print(type(b2))

b'Hello'
<class 'bytes'>

In [ ]:
value = bytearray([72, 101, 108, 108, 111])
print(value)

bytearray(b'Hello')

In [ ]:
val = bytearray("Hello", 'utf-8')
print(val)

bytearray(b'Hello')

In [ ]:
data=bytearray(b'Hello World!')
view=memoryview(data)
print(data)
print(view)

bytearray(b'Hello World!')
<memory at 0x79171e329f00>

In [ ]:
import array
arr=array.array('i',[1,2,3,4,5])
print(arr)
view=memoryview(arr)
print(view)

array('i', [1, 2, 3, 4, 5])
<memory at 0x79171e328340>

In [ ]:
data=b'Hello, World!'

view=memoryview(data[5:10])
print(view)

<memory at 0x79171e3281c0>

## ***Python Dictionary Data Type***

In [ ]:
type({1:'one',2:'two',3:'three'})

dict

In [ ]:
#Dictionaries are enclosed by curly braces ({ }) and values can be assigned
#and accessed using square braces ([]).

In [ ]:
dict={}
dict['one']="This is one"
dict[2]="This is two"

tinydict={'name':'john','code':6734,'dept':'sales'}

print(dict['one'])
print(dict[2])
print(dict.keys())
print(dict.values())
print(tinydict)
print(tinydict.keys())
print(tinydict.values())

This is one
This is two
dict_keys(['one', 2])
dict_values(['This is one', 'This is two'])
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

## ***Python Set Data Type***

In [ ]:
type({2023,5+6j,3.11,1.222E-4,"python"})

set

In [ ]:
#A set can store only immutable objects such as number (int, float, complex or bool),
# string or tuple. If you try to put a list or a dictionary in the set collection,
#Python raises a TypeError.

In [ ]:
set1=(123,456,7,8)

In [ ]:
set2=('java','python','javascript')

In [ ]:
print(set1)
print(set2)

(123, 456, 7, 8)
('java', 'python', 'javascript')

## ***Python Boolean Data Type***

In [ ]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [ ]:
a=2
b=3

print(bool(a==b))
print(bool(a!=b))
print(bool(a>b))
print(bool(a<b))

False
True
False
True

In [ ]:
a=None
print(bool(a))

False

In [ ]:
a=()
print(bool(a))

False

In [ ]:
a=0.0
print(bool(a))

False

In [ ]:
a=1.0
print(bool(a))

True

In [ ]:
a=2
print(bool(a))

True

## ***Python None Type***

In [ ]:
x=None

print("x = ",x)
print(type(x))

x =  None
<class 'NoneType'>

# **Type Casting**

## ***Implicit Type Casting***

In [ ]:
a=10   #int
b=10.2 #float

In [ ]:
c=a+b # here a is implicilty type casted from int to float
print(c)

20.2

In [ ]:
a=True
b=10.5
d=False
c=a+b

print(c)  # it is 1+10.5
print(d+b) # it is 0+10.5

11.5
10.5

## ***Explicit Type Casting***

In [ ]:
a=int(10)
b=float(10)
c=str(10)

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
#binary string to integer
a=int("110011",2)
a

51

In [ ]:
#octal to int
a=int("20",8)
a

16

In [ ]:
#hexa-decimal str to int
a=int("2A9",16)
a

681

In [ ]:
#str cannot be converted/casted to int or float whereas vice-versa is true

In [ ]:
#string to list
c="Hello"
obj=list(c)
obj

['H', 'e', 'l', 'l', 'o']

In [ ]:
#tuple to list
c=(1,2,3,4)
obj=list(c)
obj

[1, 2, 3, 4]

# ***Lab-2***
#***Decision Making***

## ***Single Statement Suites***

In [ ]:
var=100
if (var==100): print("value is 100")
print("Work Done!")

value is 100
Work Done!

In [ ]:
discount=0
amount=1000

if amount>600:
  discount=amount*10/100

print("discount = ",discount)
print("amount = ",amount-discount)

discount =  100.0
amount =  900.0

## ***if-else***

In [ ]:
if(var%2==0):
  print("number is even")
else:
  print("number is odd")

number is even

In [ ]:
discount=0
amount=500

if amount>=600:
  discount=amount*10/100
else:
  discount=amount*5/100

print("discount = ",discount)
print("amount = ",amount-discount)

discount =  25.0
amount =  475.0

## ***Nested Loops***

In [ ]:
var=100
if (var==100):
   print("Value is 100")
   if (var%2==0):
      print("Value is even")
   else:
      print("Value is odd")
elif (var==0):
   print("Value is 0")
else:
   print("Value is neither 0 nor 100")
print("Work Done!")

Value is 100
Value is even
Work Done!

In [ ]:
num = 36
print ("num = ", num)
if num % 2 == 0:
   if num % 3 == 0:
      print ("Divisible by 3 and 2")
print("....execution ends....")

num =  36
Divisible by 3 and 2
....execution ends....

#***Match-Case Statement***

In [2]:
def weekday(n):
  match(n):
    case 0: return "MONDAY"
    case 1: return "TUESDAY"
    case 2: return "WEDNESDAY"
    case 3: return "THURSDAY"
    case 4: return "FRIDAY"
    case 5: return "SATURDAY"
    case 6: return "SUNDAY"
    case _: return "INVALID DAY"

print(weekday(2))

WEDNESDAY

In [1]:
def access(user):
  match user:
    case "admin" | "manager" : return "Full Access"
    case "Guest" : return "Limited Access"
    case _: return "No Access"
print(access("manager"))
print(access("Guest"))
print(access("Ravi"))

Full Access
Limited Access
No Access

In [5]:
def greetings(details):
  match details:
    case [time,name]:
      return f'Good {time} {name}'
    case [time,*names]:
      msg=''
      for name in names:
        msg+=f'Good {time} {name}!\n'
      return msg

print(greetings(["Morning","Ravi"]))
print (greetings(["Afternoon","Guest"]))
print (greetings(["Evening", "Kajal", "Praveen", "Lata"]))

Good Morning Ravi
Good Afternoon Guest
Good Evening Kajal!
Good Evening Praveen!
Good Evening Lata!

In [6]:
def intr(details):
  match details:
    case [amt,duration] if amt<10000:
      return amt*10*duration/100
    case [amt,duration] if amt>=10000:
      return amt*15*duration/100
print ("Interest = ", intr([5000,5]))
print ("Interest = ", intr([15000,3]))

Interest =  2500.0
Interest =  6750.0

# ***Loops***
1. while loop
2. for loop
3. nested loops

## ***for loop***

In [10]:
zen='''
Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
'''
for char in zen:
  if char not in 'aeiou':
    print(char, end='')

Btfl s bttr thn gly.
Explct s bttr thn mplct.
Smpl s bttr thn cmplx.
Cmplx s bttr thn cmplctd.

In [11]:
numbers=(34,54,67,21,78,97,45,44,80,19)
total=0
for num in numbers:
  total+=num
print("Total = ", total)

Total =  539

In [12]:
numbers=[34,54,67,21,78,97,45,44,80,19]
total=0
for num in numbers:
  if num%2==0:
    print(num)

34
54
78
44
80

In [14]:
for num in range(5):
  print(num,end=' ')
print()
for num in range(10,20):
  print(num,end=' ')
print()
for num in range(2,10,2):
  print(num,end=' ')

0 1 2 3 4
10 11 12 13 14 15 16 17 18 19
2 4 6 8

In [15]:
numbers={10:"Ten",20:"Twenty",30:"Thirty",40:"Forty"}
for x in numbers:
  print(x)

10
20
30
40

In [16]:
numbers={10:"Ten",20:"Twenty",30:"Thirty",40:"Forty"}
for x in numbers:
  print(x," : ",numbers[x])

10  :  Ten
20  :  Twenty
30  :  Thirty
40  :  Forty

In [17]:
numbers={10:"Ten",20:"Twenty",30:"Thirty",40:"Forty"}
for x in numbers.items():
  print(x)

(10, 'Ten')
(20, 'Twenty')
(30, 'Thirty')
(40, 'Forty')

In [19]:
for num in range(10,20):
  for i in range(2,num):
    if num%i==0:
      j=num/i
      print(f"{num} equals {i} * {j}")
      break
    else:
      print(num, "is a prime number")
      break

10 equals 2 * 5.0
11 is a prime number
12 equals 2 * 6.0
13 is a prime number
14 equals 2 * 7.0
15 is a prime number
16 equals 2 * 8.0
17 is a prime number
18 equals 2 * 9.0
19 is a prime number

##***For Else loop***

In [23]:
for count in range(1,6):
  print(f"Iteration no: {format(count)}")
else: print("for loop over. Now in else block")
print("End of for loop")

Iteration no: 1
Iteration no: 2
Iteration no: 3
Iteration no: 4
Iteration no: 5
for loop over. Now in else block
End of for loop

In [24]:
for i in ['T','P']:
  print(i)
else:
  print("ForLoop-else statement successfully executed")

T
P
ForLoop-else statement successfully executed

In [25]:
for i in ['T','P']:
  print(i)
  break
else:
  print("ForLoop-else statement successfully executed")

T

In [27]:
def positive_or_negative():
  for i in [5,-6,7]:
    if i>0:
      print(f"{i} is positive")
    else:
      print(f"{i} is negative")
      break
  else:
    print("for loop successfully executed")
positive_or_negative()

5 is positive
-6 is negative

## ***while loop***

In [28]:
count=0
while count<5:
  count+=1
  print(f"Iteration no {format(count)}")

Iteration no 1
Iteration no 2
Iteration no 3
Iteration no 4
Iteration no 5

In [30]:
flag = 0
while (flag): print ("Given flag is really true!")
print ("Good bye!")

Good bye!

In [31]:
for letter in 'Python':
   if letter == 'h':
      break
   print ("Current Letter :", letter)
print ("Good bye!")

Current Letter : P
Current Letter : y
Current Letter : t
Good bye!

In [32]:
var = 10
while var > 0:
   print ('Current variable value :', var)
   var = var -1
   if var == 5:
      break

print ("Good bye!")

Current variable value : 10
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
Good bye!

In [35]:
no = 33
numbers = [11,33,55,39,55,75,37,21,23,41,13]
for num in numbers:
   if num == no:
      print ('number found in list')
      break
else:
   print ('number not found in list')

number found in list

In [36]:
for letter in 'Python':
   if letter == 'h':
      continue
   print ('Current Letter :', letter)
print ("Good bye!")

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : o
Current Letter : n
Good bye!

In [41]:
num = 60
print ("Prime factors for: ", num)
d=2
while num > 1:
   if num%d==0:
      print (d)
      num=num/d
      continue
   d=d+1

Prime factors for:  60
2
2
3
5

In [42]:
for letter in 'Python':
   if letter == 'h':
      pass
      print ('This is pass block')
   print ('Current Letter :', letter)
print ("Good bye!")

Current Letter : P
Current Letter : y
Current Letter : t
This is pass block
Current Letter : h
Current Letter : o
Current Letter : n
Good bye!

In [44]:
months = ["January", "Febuary", "March","April"]
days = ["Sunday", "Monday", "Tuesday"]

for x in months:
  for y in days:
    print(x, y)

print("Good bye!")

January Sunday
January Monday
January Tuesday
Febuary Sunday
Febuary Monday
Febuary Tuesday
March Sunday
March Monday
March Tuesday
April Sunday
April Monday
April Tuesday
Good bye!

In [45]:
i = 2
while(i < 100):
   j = 2
   while(j <= (i/j)):
      if not(i%j): break
      j = j + 1
   if (j > i/j) : print (i, " is prime")
   i = i + 1

print ("Good bye!")

2  is prime
3  is prime
5  is prime
7  is prime
11  is prime
13  is prime
17  is prime
19  is prime
23  is prime
29  is prime
31  is prime
37  is prime
41  is prime
43  is prime
47  is prime
53  is prime
59  is prime
61  is prime
67  is prime
71  is prime
73  is prime
79  is prime
83  is prime
89  is prime
97  is prime
Good bye!

# ***Strings***

In [46]:
var1='Hello World'
var2='Python Programming'

print("var1[0] : ",var1[0])
print("var2[1:5] : ",var2[1:5])

var1[0] :  H
var2[1:5] :  ytho

In [47]:
var1='Hello World'
print("Updated String :- ",var1[:6]+'Python')

Updated String :-  Hello Python

In [49]:
print ("Hello"+" World")

Hello World

In [50]:
var = "HELLO PYTHON"
print(var[0])
print(var[7])
print(var[11])

H
Y
N

In [53]:
var = "HELLO PYTHON"
print(var[-1])
print(var[-5])
print(var[-12])

N
Y
H

In [54]:
var="HELLO PYTHON"
print ("var:",var)
print ("var[3:8]:", var[3:8])
print ("var[-9:-4]:", var[-9:-4])

var: HELLO PYTHON
var[3:8]: LO PY
var[-9:-4]: LO PY

In [55]:
s1="WORD"
print ("original string:", s1)
l1=list(s1)

l1.insert(3,"L")

print (l1)

s1=''.join(l1)
print ("Modified string:", s1)

original string: WORD
['W', 'O', 'R', 'L', 'D']
Modified string: WORLD

In [56]:
import array as arr

s1="WORD"
print ("original string:", s1)

sar=arr.array('u',s1)

sar.insert(3,"L")

s1=sar.tounicode()
print ("Modified string:", s1)

original string: WORD
Modified string: WORLD

In [58]:
import io

s1="WORD"
print ("original string:", s1)

sio=io.StringIO(s1)
sio.seek(3)
sio.write("LD")
s1=sio.getvalue()

print ("Modified string:", s1)

original string: WORD
Modified string: WORLD

In [59]:
hello2="Hello"*2
print(hello2)

HelloHello

In [61]:
str1="Hello "
str2="World "
print ("String 1:",str1)
print ("String 2:",str2)
str3=str1+str2*3
print("String 3:",str3)
str4=(str1+str2)*3
print ("String 4:", str4)

String 1: Hello
String 2: World
String 3: Hello World World World
String 4: Hello World Hello World Hello World

In [62]:
from string import Template

# Defining template string
str = "Hello and Welcome to $name !"

# Creating Template object
templateObj = Template(str)

# now provide values
new_str = templateObj.substitute(name="Tutorialspoint")
print(new_str)

Hello and Welcome to Tutorialspoint !

In [63]:
normal = "Hello\nWorld"
print (normal)

raw = r"Hello\nWorld"
print (raw)

Hello
World
Hello\nWorld

In [69]:
# ignore \
s = 'This string will not include \
backslashes or newline characters.\
 Hi'
print (s)

This string will not include backslashes or newline characters. Hi

In [70]:
# escape backslash
s=s = 'The \\character is called backslash'
print (s)

The \character is called backslash

In [71]:
# escape single quote
s='Hello \'Python\''
print (s)

Hello 'Python'

In [72]:
# escape \b to generate ASCII backspace
s='Hel\blo'
print (s)

Hello

In [73]:

# ASCII Bell character
s='Hello\a'
print (s)

Hello

In [74]:
# newline
s='Hello\nPython'
print (s)

Hello
Python

In [75]:
# form feed
s= "hello\fworld"
print (s)

helloworld

In [76]:
# Octal notation
s="\101"
print(s)

# Hexadecimal notation
s="\x41"
print (s)

A
A

Python program to find number of vowels in a given string.

In [77]:
mystr="All animals are equal. Some are more equal"
vowels="aeiou"
count=0
for x in mystr:
  if x.lower() in vowels:
    count+=1

print("Number of vowels : ",count)

Number of vowels :  18

In [84]:
mystr = '10101'

def strtoint(mystr):
   for x in mystr:
      if x not in '01': return "Error. String with non-binary characters"
   num = int(mystr, 2)
   return num
print ("binary:{} integer: {}".format(mystr,strtoint(mystr)))

binary:10101 integer: 21