<a href="https://colab.research.google.com/github/chitwan6804/Data_mining/blob/main/Basics%20of%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Using Python as calculator**

In [1]:
2+2

4

In [3]:
(50-5*6)/4   # by default float valueis generated.

5.0

In [5]:
(50-5*6) # here as divide is not there int value.

20

In [9]:
x=7/3   #float value.
type(x)

float

In [10]:
x=2+3
type(x)

int

In [12]:
x=2*3
type(x)

int

In [15]:
int(7/3)

2

In [16]:
from math import sqrt,log

In [17]:
sqrt(144)

12.0

In [18]:
PI=22/7
rad=10
area=PI*rad*rad

In [22]:
round(area,2) #rounding of significant decimanl points to 2

314.29

In [23]:
# return = 0 # trying to use keywords/reserved words as variables

SyntaxError: invalid syntax (<ipython-input-23-61c0c528b01c>, line 1)

In [25]:
counter=1  #int
miles=10.2 #float
text="hello" #string
print("type of counter:: ",type(counter))
print("type of miles:: ",type(miles))
print("type of text:: ",type(text))
#type inference it automatically tries to understand which type of data is being provided we need not describe it.

type of counter::  <class 'int'>
type of miles::  <class 'float'>
type of text::  <class 'str'>

In [28]:
counter = 100
print(counter)

del counter
#print(counter)
# shows error as we try to use data which is now not present in memory.

100

In [31]:
x=str(10)
y=int(10)
z=float(10)

print("x = ",x, " as data type: ",type(x))
print("y = ",y)
print("z = ",z)

x =  10  as data type:  <class 'str'>
y =  10
z =  10.0

In [33]:
age=10
Age=20
# python is case sensitive
print(age)
print(Age)

10
20

In [34]:
a,b,c=10,"hello",10.0

print(a)
print(b)
print(c)

10
hello
10.0

In [35]:
#Python's identity operator is returns True if both the operands have same id() value.

a=10
b=10
a is b

True

In [37]:
id(a),id(b) # same memory location

(10751144, 10751144)

## Numeric Data Types

In [38]:
var=1
var2=True #case sensitive as true was not working.
var3=10.0003
var4=10+3j
var5="hello"

In [41]:
print(type(var))
print(type(var2))
print(type(var3))
print(type(var4))
print(type(var5))

<class 'int'>
<class 'bool'>
<class 'float'>
<class 'complex'>
<class 'str'>

## **String Data type**

In [42]:
'hello,world'

'hello,world'

In [43]:
x='hello world'
print(x)

hello world

In [44]:
'She said,"hello"'

'She said,"hello"'

In [45]:
x='She said,"hello"'
print(x)

She said,"hello"

In [47]:
"hello"+"world" #concatenates strings

'helloworld'

In [48]:
print("hello"+" world.")

hello world.

In [50]:
str= "hello,world"

print(str)
print(str[0]) #first char of the string
print(str[2:5]) #char from 3rd to 5th characters of the string
print(str[2:]) # from 3rd to the end
print(str[2:-1]) # -1 finds automatically the last char of the string used when we dont know index of last char(last - 1)
print(str*2) #prints string twice

hello,world
h
llo
llo,world
llo,worl
hello,worldhello,world

##** Python Sequence Data Types**
1. List Data type
2. Tuple Data type
3. Range Data Type

In [51]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print (list)            # Prints complete list
print (list[0])         # Prints first element of the list
print (list[1:3])       # Prints elements starting from 2nd till 3rd
print (list[2:])        # Prints elements starting from 3rd element
print (tinylist * 2)    # Prints list two times
print (list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [53]:
2025,'chitwan','data minimg',5032005 #forms tuple by default

(2025, 'chitwan', 'data minimg', 5032005)

In [55]:
[2025,'chitwan','data minimg',5032005] #forms list

[2025, 'chitwan', 'data minimg', 5032005]

In [56]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print (tuple)               # Prints the complete tuple
print (tuple[0])            # Prints first element of the tuple
print (tuple[1:3])          # Prints elements of the tuple starting from 2nd till 3rd
print (tuple[2:])           # Prints elements of the tuple starting from 3rd element
print (tinytuple * 2)       # Prints the contents of the tuple twice
print (tuple + tinytuple)   # Prints concatenated tuples

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [57]:
#The main differences between lists and tuples are: Lists are enclosed in brackets ( [ ] ) and their elements and size can be changed i.e. lists are mutable, while tuples are enclosed in parentheses ( ( ) ) and cannot be updated (immutable). Tuples can be thought of as read-only lists.

In [59]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
list = [ 'abcd', 786 , 2.23, 'john', 70.2  ]
#tuple[2] = 1000    # Invalid syntax with tuple
list[2] = 1000     # Valid syntax with list

In [61]:
print(range(10))

range(0, 10)

In [62]:
range(2,8)

range(2, 8)

In [63]:
evens=range(0,20,2)

In [64]:
evens

range(0, 20, 2)

In [66]:
evens[3]

6

In [67]:
len(evens)

10

In [68]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [69]:
for i in range(2,8,2):
  print(i)

2
4
6

## **Python Binary Data types**
1. bytes
2. bytearray
3. memoryview

In [72]:
b1=bytes([65,66,67,68,69])
print(b1)

b'ABCDE'

In [74]:
b2=b'Hello' # we are using the "b" prefix before a string to automatically create a bytes object âˆ’
print(b2)
print(type(b2))

b'Hello'
<class 'bytes'>

In [75]:
value = bytearray([72, 101, 108, 108, 111])
print(value)

bytearray(b'Hello')