<a href="https://colab.research.google.com/github/chitwan6804/Data_mining/blob/main/Pandas_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.DataFrame({'Group': ['A', 'A', 'B', 'B', 'B'], 'Value': [10, 20, 15, 25, 30]})
df['Rolling_Sum'] = df['Value'].rolling(window=2).sum()
print(df)

  Group  Value  Rolling_Sum
0     A     10          NaN
1     A     20         30.0
2     B     15         35.0
3     B     25         40.0
4     B     30         55.0

In [ ]:
df['Cumulative_Sum'] = df['Value'].cumsum()
print(df)

  Group  Value  Rolling_Sum  Cumulative_Sum
0     A     10          NaN              10
1     A     20         30.0              30
2     B     15         35.0              45
3     B     25         40.0              70
4     B     30         55.0             100

In [ ]:
df['Expanding_Mean'] = df['Value'].expanding().mean()
print(df)

  Group  Value  Rolling_Sum  Cumulative_Sum  Expanding_Mean
0     A     10          NaN              10            10.0
1     A     20         30.0              30            15.0
2     B     15         35.0              45            15.0
3     B     25         40.0              70            17.5
4     B     30         55.0             100            20.0

In [ ]:
df['Rank'] = df.groupby('Group')['Value'].rank(method='first')
print(df)

  Group  Value  Rolling_Sum  Cumulative_Sum  Expanding_Mean  Rank
0     A     10          NaN              10            10.0   1.0
1     A     20         30.0              30            15.0   2.0
2     B     15         35.0              45            15.0   1.0
3     B     25         40.0              70            17.5   2.0
4     B     30         55.0             100            20.0   3.0

In [ ]:
df['Rolling_Mean'] = df['Value'].rolling(2).apply(lambda x: x.mean())
print(df)

  Group  Value  Rolling_Sum  Cumulative_Sum  Expanding_Mean  Rank  \
0     A     10          NaN              10            10.0   1.0
1     A     20         30.0              30            15.0   2.0
2     B     15         35.0              45            15.0   1.0
3     B     25         40.0              70            17.5   2.0
4     B     30         55.0             100            20.0   3.0

   Rolling_Mean
0           NaN
1          15.0
2          17.5
3          20.0
4          27.5

In [ ]:
df = pd.DataFrame({'Category': ['A', 'A', 'B', 'B'], 'Sales': [200, 150, 300, 400]})
print(df['Sales'].sum())

1050

In [ ]:
print(df['Sales'].mean())

262.5

In [ ]:
print(df['Sales'].min(), df['Sales'].max())

150 400

In [ ]:
print(df['Sales'].count())

4

In [ ]:
print(df.agg({'Sales': ['sum', 'mean', 'min']}))

       Sales
sum   1050.0
mean   262.5
min    150.0

In [ ]:
df = pd.DataFrame({'A': [1, 2, None, 4], 'B': [None, 5, 6, 7]})
print(df.isnull())

       A      B
0  False   True
1  False  False
2   True  False
3  False  False

In [ ]:
df_filled = df.fillna(0)
print( df_filled)

     A    B
0  1.0  0.0
1  2.0  5.0
2  0.0  6.0
3  4.0  7.0

In [ ]:
df_mean = df.fillna(df.mean())
print( df_mean)

          A    B
0  1.000000  6.0
1  2.000000  5.0
2  2.333333  6.0
3  4.000000  7.0

In [ ]:
df_dropped = df.dropna()
print( df_dropped)

     A    B
1  2.0  5.0
3  4.0  7.0

In [ ]:
df_ffill = df.ffill()
print( df_ffill)

     A    B
0  1.0  NaN
1  2.0  5.0
2  2.0  6.0
3  4.0  7.0

In [ ]:
df = pd.DataFrame({'Department': ['HR', 'IT', 'HR', 'IT', 'HR'],
                   'Salary': [50000, 60000, 52000, 65000, 48000]})
print(df.groupby('Department')['Salary'].sum())

Department
HR    150000
IT    125000
Name: Salary, dtype: int64

In [ ]:
print(df.groupby('Department')['Salary'].mean())

Department
HR    50000.0
IT    62500.0
Name: Salary, dtype: float64

In [ ]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [1, 2, 4], 'Salary': [50000, 60000, 70000]})
print(df1.merge(df2, on='ID', how='inner'))

   ID   Name  Salary
0   1  Alice   50000
1   2    Bob   60000

In [ ]:
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
print(pd.concat([df1, df2], axis=0))

   A  B
0  1  3
1  2  4
0  5  7
1  6  8

In [ ]:
print(pd.concat([df1, df2], axis=1))

   A  B  A  B
0  1  3  5  7
1  2  4  6  8

In [ ]:
df3 = pd.DataFrame({'C': [9, 10]})
print(pd.concat([df1, df3], axis=1))

   A  B   C
0  1  3   9
1  2  4  10

In [ ]:
df = pd.DataFrame({'Date': ['2023-01-01', '2023-02-01']})
df['Date'] = pd.to_datetime(df['Date'])
print(df)

        Date
0 2023-01-01
1 2023-02-01

In [ ]:
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
print(df)

        Date  Year  Month  Day
0 2023-01-01  2023      1    1
1 2023-02-01  2023      2    1

In [ ]:
print(pd.date_range(start='2023-01-01', periods=5, freq='D'))

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
td = pd.Timedelta(days=5, hours=3, minutes=30)

In [ ]:
df = pd.DataFrame({'Start': pd.to_datetime(['2024-01-01', '2024-02-01']),
                   'End': pd.to_datetime(['2024-01-05', '2024-02-10'])})
df['Duration'] = df['End'] - df['Start']
print(df)

       Start        End Duration
0 2024-01-01 2024-01-05   4 days
1 2024-02-01 2024-02-10   9 days

In [ ]:
df = pd.DataFrame({'Category': pd.Categorical(['Low', 'Medium', 'High', 'Medium', 'Low'])})
print(df['Category'])

0       Low
1    Medium
2      High
3    Medium
4       Low
Name: Category, dtype: category
Categories (3, object): ['High', 'Low', 'Medium']

In [ ]:
df['Category'] = df['Category'].astype(pd.CategoricalDtype(categories=['Low', 'Medium', 'High'], ordered=True))
print(df['Category'].cat.categories)

Index(['Low', 'Medium', 'High'], dtype='object')